<!DOCTYPE html>
<html>
  <head>
    <title>Brownlow Medal Prediction | 2023</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
  </head>
    <style>
      h1 {
        font-family: arial;
        margin-left: 15px;
      }
      h3 {
        font-family: arial;
        margin-left: 15px;
      }
      p {
        font-family: arial;
        margin-left: 15px;
      }
      a {
        text-decoration: none;
        font-family: courier;
        margin-left: 15px;
      }
      a:link {
        color: #AAAAAA;
        font-weight: bold;
        border-bottom: none;
      }
      a:visited {
        color: #A9BA9D;
        border-bottom: none;
      }
      a:hover {
        color: #000000;
        font-weight: bold;
        border-bottom: none;
      }

      table {
        margin-left: 15px;
      }
      
    </style>

    <h1>Brownlow Medal Prediction <span style="color: #AAAAAA;">| 2023</span></h1>
    
      <body>
      <a href="index.html"><span style="color: #000000;">H</span>OME</a>
      <a href="classic.html"><span style="color: #000000;">CLASSIC</span></a>
      
      <br><br>
      
      <h3>Channel 7 Output</h1>
      
<!--begin.rcode fig.width=7, fig.height=6, echo=FALSE, results='asis', message=FALSE

# Load packages ----
library(tidyverse)
library(here)
library(tidymodels)
library(kableExtra)

# Load data ----
load(file = here("output","output.RData"))
load(file = here("output","output_teams.RData"))
load(file = here("output","montecarlosummary.RData"))


## * Prep data ----
# Output graph like Channel 7 ----
output %>% 
  rename(Player = name) %>% 
  arrange(-Total) %>% 
  kable() %>% 
  kable_styling("striped", font_size = 14, position = "left", full_width = FALSE, html_font = "arial") %>%
  column_spec(1, bold = TRUE, border_right = TRUE, color = "black", extra_css = "text-align:right") %>%
  column_spec(2:24, extra_css = "text-align:center") %>%
  row_spec(0, align = "r")

end.rcode-->

      <br>
      
      <span style="color: #AAAAAA; font-size: x-small;"> Note. Model built with a Gradient Boosting Algorithm, using the previous 10 years of data. </span>
      
      <br><br>

      <h3>Top Players Summary</h1>    

<!--begin.rcode fig.width=7, fig.height=6, echo=FALSE, results='asis', message=FALSE

monte.carlo.votesummary %>% 
  arrange(-win.perc) %>% 
  filter(win.perc > 0.001) %>% 
  mutate(`Win %` = scales::percent(round(win.perc,4))) %>% 
  mutate(Name = name, 
         `P05` = p05, 
         `Median` = mdn.votes, 
         `P95` = round(p95,0)) %>% 
  select(Name,`P05`,`Median`,`P95`,`Win %`) %>% 
  kable(., align = c('l','c','c','c','r')) %>%
  column_spec(., 1, width = "15em", ) %>% 
  column_spec(., 2:5, width = "5em") %>% 
  kable_styling("striped", font_size = 14, position = "left", full_width = FALSE, html_font = "arial")

end.rcode-->


      <br><br>

      <h3>Best Players by Team</h1>     
      
<!--begin.rcode fig.width=7, fig.height=6, echo=FALSE, results='asis', message=FALSE

teams.top3 %>% 
  select(Team = player_team, Name = name,Votes = mdn.votes) %>% 
  arrange(Team,-Votes) %>% 
  ungroup() %>% 
  select(Name, Votes) %>% 
  kable(.) %>%
  kable_styling("striped", font_size = 14, position = "left", full_width = FALSE, html_font = "arial") %>% 
  pack_rows(index = table(teams.top3$player_team))

end.rcode-->
  

      </p>
      </body>

</html>